<div class="page home">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="page-title">
          <img class="svg" src="assets/svg/4.png" />
          <span>Todo List App</span>
        </h2>
      </div>
      <div class="col-md-6">
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Yapılacak Yeni Madde Ekle" #newTodo />
          </mat-form-field>
          <button
            mat-flat-button
            color="primary"
            type="submit"
            (click)="addTodo(newTodo)"
          >
            Ekle
          </button>
        </form>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-12">
        <mat-card class="d-flex">
          <div class="example-container">
            <h2>Bekleyenler</h2>

            <div
              cdkDropList
              #pendingList="cdkDropList"
              [cdkDropListData]="data.pendings"
              [cdkDropListConnectedTo]="[progressList]"
              class="example-list"
              (cdkDropListDropped)="drop($event)"
            >
              <div
                class="example-box"
                *ngFor="let item of data.pendings"
                cdkDrag
              >
                <img class="svg" src="assets/svg/1.png" />
                {{ item }}
              </div>
            </div>
          </div>

          <div class="example-container">
            <h2>Yapım Aşamasında Olanlar</h2>

            <div
              cdkDropList
              #progressList="cdkDropList"
              [cdkDropListData]="data.inProgress"
              [cdkDropListConnectedTo]="[pendingList, doneList]"
              class="example-list"
              (cdkDropListDropped)="drop($event)"
            >
              <div
                class="example-box"
                *ngFor="let item of data.inProgress"
                cdkDrag
              >
                <img class="svg" src="assets/svg/2.png" />
                {{ item }}
              </div>
            </div>
          </div>

          <div class="example-container">
            <h2>Tamamlananlar</h2>

            <div
              cdkDropList
              #doneList="cdkDropList"
              [cdkDropListData]="data.done"
              [cdkDropListConnectedTo]="[progressList]"
              class="example-list"
              (cdkDropListDropped)="drop($event)"
            >
              <div class="example-box" *ngFor="let item of data.done" cdkDrag>
                <img class="svg" src="assets/svg/3.png" />
                {{ item }}
              </div>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center mt-2">
        <small>Copright 2020 Todo List App</small>
      </div>
    </div>
  </div>
</div>
